name: data
on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]"

  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  github-release:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with: { submodules: recursive }
      - uses: prefix-dev/setup-pixi@v0.9.4
        with: { pixi-version: v0.63.2 }
      - name: digitize
        shell: pixi run bash -e {0}
        run: pixi run -e dev data
      - name: validate packages
        shell: pixi run bash -e {0}
        run: pixi run -e dev validate
      - name: upload data artifact
        uses: actions/upload-artifact@v6
        with:
          name: data-${{ github.event.pull_request.number }}
          path: |
            **/generated/**
          overwrite: true
      - name: zip-data
        if: startsWith(github.ref, 'refs/tags/')
        shell: bash -l {0}
        run:
          zip -r data-${{ github.ref_name }}.zip data/generated
      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: |
            data-${{ github.ref_name }}.zip
