name: Validate Examples

on:
  push: { branches: [ "main" ] }
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  verify-file-schemas:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with: { submodules: recursive }
      - uses: prefix-dev/setup-pixi@v0.9.4
        with: { pixi-version: v0.63.2 }
      - name: validate input yaml
        shell: pixi run bash -e {0}
        run: pixi run -e dev validate-input
